<div>

    <h1>Cinema <br>Ironhack</h1>
    <a href="/movies/">
        <button class="btn btn-danger">Check the Movies!</button>
    </a>
    {{!-- <img src="/images/cinema.jpg" alt="popcorn-image"> --}}



</div>

