<div id="home">

    <p>Cinema <br>Ironhack</p>
    <a href="/movies/">
        <button class="btn btn-danger">Check the Movies!</button>
    </a>
    {{!-- <img src="/images/cinema.jpg" alt="popcorn-image"> --}}



</div>

