{{!-- <style>
  .movies {
    text-align: center;
    background-color: #f3f3f3;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }

</style> --}}

<div class="movies">
    <h1>Ironhack Cinema</h1>
    <h2>Click on the movie to check the showtimes!</h2>

    {{#each allMovies}}

    <img src="{{this.image}}" alt="movie" height="200px">

    <p>{{this.title}}</p>
    <p>
        <a href="/movie/{{this._id}}">See more</a>
    </p>
    {{/each}}
</div>