body {
  color: whitesmoke;
  background-image: url("/images/cinema.jpg");
  background-size: cover;
  background-position: center;
  height: 85vh;
  padding: 50px;
  font: 40px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

a {
  color: #00B7FF;
}

#movies {
  background-color: white;
}